#app-title{
    font-size: 100px;
    font-family: "Lato";
    margin-top: 20px;
}

.preview-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}

.mode-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}

#editor-container{
    border: 1px solid #ccc;
    padding: 0px;
    border-radius: 5px;
}

#editor{
    border: none;
}

.ql-toolbar.ql-snow{
    border: none !important;
    border-bottom: 1px solid #ccc !important;
}

.button-actions{
    display:inline-block;
    border: none;
    padding:0.7em 1.4em;
    margin:1em 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#2980b9;
    text-align:center;
    position:relative;
    cursor: pointer;
}

.ql-editor{
    font-size: 30px !important;
    min-height: 30vh !important;
    font-family: 'Lato' !important;

}

.quill-container-body{
    height: max-content;
}


#main{
    min-height: 100vh;
}

/* #preview{
    text-align: left;
    width: 100%;
} */

.side-section{
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 5px;
}

.progress{
    margin: 20px 0px 40px 0px !important;
}
.slider{
    margin: 15px 0px 15pxpx 0px !important;
}

.side-section-header{
    font-weight: 800;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.button{
    margin-top: 10px !important;
}

.label-text{
    /* width: 100%; */
    font-size: 1em;
    /* top: 100%; */
    right: auto;
    left: 0;
    bottom: auto;
    color: rgba(0,0,0,.87);
    font-weight: 700;
    text-shadow: none;
    margin-top: .2em;
    text-align: center;
    -webkit-transition: color .4s ease;
    transition: color .4s ease;
}

.original{
    font-size: 20px;
    margin: 30px;
}

.suggestion{
    font-size: 15px;
    margin: 30px;
}

.modal-text{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.suggestion-item:hover{
    background: #eee;
    cursor: pointer;
}

.suggestion-item>*{
    pointer-events: none;
}


/* #preview-container-micro-formality{
    display: none;
} */

#preview-container-micro-joint{
    display: none;
}
#preview-container-macro-shakespeare{
    display: none;
}
#preview-container-macro-binary{
    display: none;
}


#binary-slider>.inner>.track, #binary-slider>.inner>.track-fill{
    background-color: #FFFFFF !important;
}