#app-title{
    font-size: 100px;
    font-family: "Lato";
    margin-top: 20px;
}

#preview-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.button-actions{
    display:inline-block;
    border: none;
    padding:0.7em 1.4em;
    margin:1em 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#2980b9;
    text-align:center;
    position:relative;
    cursor: pointer;
}

.quill-body{
    min-height: 60vh;
}

.quill-container-body{
    height: max-content;
}


#main{
    min-height: 100vh;
}

#sliders{
    width: 100%;
    text-align: center;
}
#sliders>p{
    margin-bottom: 0px;
    margin-top: 20px;
}

#preview{
    text-align: left;
    width: 100%;
}