<!DOCTYPE html>

<head>
    <title>marvin</title>
    <link rel="stylesheet" type="text/css" href="/css/homestyle.css">
    <link rel="stylesheet" type="text/css" href="/css/flexboxgrid.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Literata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.js"></script>
</head>

<body>
    <div id="main" class="row center-xs">
        <div id="section-1" class="row center-xs middle-xs col-xs-12">
            <div id="head" class="col-xs-12">
                <img class="col-xs-8 col-md-3" src="/res/marvin.jpg">
                <p class="subtitle-main"><span class="ui text medium">Stylistic Language Editor</span></p>
                <!-- <p class="text">A MIMS Capstone project by Daniel, Priyam and Vivek</p> -->
                <!-- <p class="text">Advised by Marti Hearst and Dongyeop Kang</p> -->
                <button onclick='location.href="/demo"' class="ui secondary button col-xs-6 col-md-2"
                    style="width: 100%;"><i class="laptop code icon"></i> Demo</button>
                <button onclick='location.href="https://github.com/nuwandavek/marvin"'
                    class="ui secondary button col-xs-6 col-md-2" style="width: 100%;"><i class="github brand icon"></i>
                    Code</button>
            </div>
        </div>
        <div id="section-2" class="row center-xs col-xs-12">
            <div class="col-xs-10 col-md-6 text-section">
                <p><span class="ui text large">Marvin is an AI powered tool for stylistic language editing.
                        It leverages a
                        combination of recent Natural Language Processing (NLP) and deep learning innovations in text
                        classification and generation as well as visualization and interpretation techniques. Marvin
                        provides the ability to classify the style of texts, transfer to other styles as well as
                        understand
                        how certain features contribute to style. It strives to adhere to a machine-in-the-loop
                        framework,
                        where writing is performed largely by human users, but is aided by algorithmic
                        suggestions.</span></p>

                <p><span class="ui text large">We evaluated the machine learning models that comprise Marvin on several
                        benchmark
                        metrics and
                        determined that these models are able to perform well on linguistic style tasks. One of Marvin’s
                        primary novel contributions is the ability to transfer to different specific levels of a
                        particular
                        style. It also can perform joint style analysis and transfer for several dimensions of style
                        simultaneously.</span></p>

                <p><span class="ui text large">At the School of Information we find ourselves at the intersection of
                        cutting
                        edge
                        research and a
                        will to democratize access to such research. Throughout history, the written word has played a
                        vital
                        role in expanding the horizons of human consciousness. And effective use of stylistic language
                        is
                        ubiquitous in this pursuit, from scientific text and Wikipedia to the writings of Shakespeare
                        and
                        Mahatma Gandhi. Unfortunately, language famously suffers from issues of bias, accessibility and
                        quality control. Anyone who has ever made a Wikipedia edit or has written a technical blog post
                        immediately recollects the dozens of examples one has to pore over, to emulate the style,
                        objectivity and tenor of the writing style. Adherence to a particular style can often be used as
                        a
                        proxy measure of value. At best, this leads to a high variance in quality, and at worst, it
                        makes
                        the process of writing entirely prohibitive to newcomers. We believe that a system, such as
                        Marvin,
                        will help users generate style-conformant content and can democratize access to domains for
                        fledgling writers from various backgrounds.</span></p>
                <div class="row center-xs" style="margin:50px">
                    <img class="col-xs-12" src="/res/marvin_app.jpg">
                    <p>Marvin in action!</p>

                </div>

                <p><span class="ui text large">This is part of the MIMS Capstone Project by Daniel, Priyam and Vivek,
                        advised by Marti Hearst
                        and Dongyeop Kang. We believe that Marvin is the next generation of writing aids. We're building
                        Marvin for all the hitchhikers, out there in the galaxy. </br></br>Don't panic!</span></p>
            </div>

        </div>
        <div id="section-3" class="row col-xs-12 center-xs">
            <div class="col-xs-10 col-md-6 text-section">
                <p>
                    <span class="ui text huge head">Features</span>
                </p>
                <p>
                    <span class="ui text large">
                        The primary goal of Marvin is to help people write style-conformant content. We do this in two
                        ways. Firstly, we give users analysis on their sentences so that users themselves can write
                        better content. Secondly, we provide suggestions for transfer into a target style while
                        retaining the semantic meaning of the sentence.


                    </span>
                </p>
                <div class="ui list text huge">
                    <div class="item">
                        <i class="right triangle icon"></i>
                        <div class="content">
                            <div class="header2">Classification of text along different style axes</div>
                            <div class="description">Including macro-styles like Shakespeare, Wikipedia, Scientific
                                Abstracts and micro-styles like formaltiy, emotions</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="right triangle icon"></i>
                        <div class="content">
                            <div class="header2">Transfer of text from one style to another</div>
                            <div class="description">Eg: Modern English → Shakespearean</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="right triangle icon"></i>
                        <div class="content">
                            <div class="header2">Transfer of text from one point of a style spectrum to another
                                (Intensity Transfer) </div>
                            <div class="description">Eg: Mid Formality → High Formality</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="right triangle icon"></i>
                        <div class="content">
                            <div class="header2">Transfer of text to a combination of multiple styles</div>
                            <div class="description">Eg: Low Formality and Happy → High Formality and Sad
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="right triangle icon"></i>
                        <div class="content">
                            <div class="header2">Visualization of feature importance for styles
                            </div>
                            <div class="description">Understand how each word contributes to scores

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="right triangle icon"></i>
                        <div class="content">
                            <div class="header2">Record user actions and generate new datasets forming a closed
                                machine-in-the-loop system
                            </div>
                        </div>
                    </div>
                </div>
                
                <p>
                    <span class="ui text huge head">Research</span>
                </p>
                
                <p>
                <span class="ui text large"> The development of Marvin involved implementing and integrating several recent state-of-the-art machine learning approaches along with our own novel contributions.</span>
                </p>
                
                <p>
                  <span class="ui text big"> Components:  </span>
                </p>
                
                <p>
                  <div class="ui list text huge">
                   <div class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header2">Joint classifier models which classify text inputs on multiple style axes.</div>
                                <div class="description">
                                <ul>
                                  <li>These are custom models adjusted from pretrained DistilBERT(link) models provided by HuggingFace(link).</li>
                                  <li>The lightweight joint classification models are notably more efficient than large single classifiers.</li>
                                  <li>They also enabled the creation of pseudo-labels for joint datasets that allow for the possibility of joint transfer.</li>
                                </ul>
                                </div>
                            </div>
                      </div>
      
                 </div>
               </p>
               

                <p>
                  <div class="ui list text huge">
                   <div class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header2">Paraphraser model which paraphrase texts to a more neutral style.</div>
                                <div class="description">
                                <ul> 
                                  <li>Fine-tuned from a T5-small model (link).</li>
                                  <li>This is inspired by the approach from STRAP(link).</li>
                                  <li>These create pseudo-parallel datasets needed for transfer training.</li>
                                </ul>
                                </div>
                            </div>
                      </div>
      
                 </div>
               </p>
               
               
                <p>
                  <div class="ui list text huge">
                   <div class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header2">Transfer models for three different types of transfer (intra-style, joint, and binary):</div>
                                <div class="description">
                                <ul> 
                                  <li>Also fine-tuned from T5 models.</li>
                                  <li>The joint models which can transfer along multiple style axes simultaneously and the intra-style capabilities enabling transfer to different style intensities are novel contributions to this approach.</li>
                                </ul>
                                </div>
                            </div>
                      </div>
      
                 </div>
               </p>
               
               
                <p>
                  <div class="ui list text huge">
                   <div class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header2">Saliency mapping methods for determining how much input words affect the style score.</div>
                      </div>
      
                 </div>
               </p>
               
               
                
                <p>
                  <span class="ui text big"> Methods:  </span>
                </p>
                
                <p>
                  The full details of Marvin’s inner workings are described in our report (link), but the main steps of the approach are:
                </p>
                <b>Training</b>
                <ol>
                  <li> Train classifiers to predict styles of texts from labelled data.</li>
                  <li> Train paraphraser to paraphrase texts and strip style. </li>
                  <li> Use paraprahser to generate a pseudo-parallel dataset.</li>
                  <li> Use classifiers to give style scores to original texts and paraphrases.</li>
                       <ul> <li>The joint classifiers allow us to get multiple styles axis scores.</li> </ul>
                  <li>Split the style scores into discrete bins.</li>
                  <li>Use the pseudo-parallel data along with scores to train transfer models.</li>
                </ol>
                
                <p><b>Evaluation and Use</b></p>
                
                For a given input sentence, we can perform analysis and transfer in the following way:
                <ol>
                  <li>Use classifiers to get style scores.</li>
                  <li>Apply saliency to understand how words contribute to style scores.</li> 
                  <li>Run paraphraser and transfer model to create candidate transfers in desired style.</li>
                  <li>Use classifiers and other evaluation methods to rank best transfers and determine new style scores.</li>
                  <li>Provide best transfers and their analyses.</li>
                  <li>Repeat as desired!</li>
                </ol>
                

                
                <p>
                  <span class="ui text big"> Datasets Created:  </span>
                </p>
                
                <p>In addition to the models that were built while developing Marvin, we also assembled several datasets.</p> 
                
                These include:
                
                <p>
                  <div class="ui list text huge">
                   <div class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header2">Macro-style datasets (Wikipedia and scientific abstracts).</div>
                      </div>
      
                 </div>
               </p>
               
                <p>
                  <div class="ui list text huge">
                   <div class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header2">Pseudo-parallel datasets for performing style transfer (For all styles considered).</div>
                      </div>
      
                 </div>
               </p>
               
               
                <p>
                  <div class="ui list text huge">
                   <div class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header2">Cross-labelled style datasets for joint style analysis (Formality and Emotional Valence).</div>
                      </div>
      
                 </div>
               </p>
               

            </div>
        </div>
    </div>
</body>

</html>
