<!DOCTYPE html>

<head>
    <title>marvin</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/flexboxgrid.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.js"></script>
</head>

<body>
    <div id="main" class="row center-xs">
        <div id="section_1" class="col-xs-8">
            <!-- <p id="app-title">marvin</p> -->
            <a href="/"><img class="col-xs-6 col-md-2" src="/res/marvin.jpg"></a>
            <div class="ui dimmer" id="dimmer-model-swap">
                <div class="ui text loader">Loading Models...</div>
            </div>
            <div class="row" id="editor-preview">
                <div id="left-panel" class="col-xs-8 start-xs">
                    <div id="editor-container" class="start-xs  quill-container-body">
                        <div id="editor" class="quill-body"></div>
                        <div class="end-xs">
                            <div class="ui label">
                                Words
                                <div class="detail" id="words">0</div>
                            </div>
                        </div>
                    </div>
                    <div id="examples-section">
                        <p class="side-section-header left-section-header">Examples</p>
                        <div class="ui divider"></div>

                        <div id="examples">
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div id="mode-selector" class="start-xs mode-container">
                        <div id="mode-selector" class="side-section">
                            <p class="side-section-header">Style Mode</p>
                            <div class="ui divider"></div>

                            <div class="ui fluid search selection dropdown">
                                <input type="hidden" name="mode">
                                <div class="default text">Select Text Importance to Visualize</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-----Micro Formality Panels --->
                    <div id="preview-container-micro-formality" class="start-xs preview-container">
                        <div id="analysis-section-micro-formality" class="side-section">
                            <p class="side-section-header">Analysis</p>
                            <div class="ui divider"></div>
                            <div id="formality-progress-micro-formality" class="ui tiny teal progress" data-value="0"
                                data-total="100">
                                <div class="bar"></div>
                                <div class="label label-text">Formality : 0 %</span></div>
                            </div>
                            <div class="row center-xs middle-xs">
                                <p style="margin: 0px;">Visualize Word Contribution to Style</p>
                                <div class="small ui buttons">
                                    <button class="ui button active viz" data-style="none">None</button>
                                    <button class="ui button viz" data-style="formality">Formality</button>
                                </div>
                            </div>
                            <div class="row around-xs middle-xs">
                                <button class="ui blue button col-xs-10 analyze"
                                    id="analyze-micro-formality">Analyze</button>
                            </div>

                        </div>

                        <div id="transfer-section-micro-formality" class="side-section">
                            <p class="side-section-header">Style Transfer Controls</p>
                            <div class="ui divider"></div>

                            <div id="sliders">
                                <p class="label-text">Formality</p>
                                <div class="ui teal slider labeled ticked" id="formality-slider-micro-formality"></div>
                            </div>

                            <div class="row center-xs middle-xs">
                                <p style="margin:0px">Number of Suggestions</p>
                                <div class="ui input col-xs-3">
                                    <input id="num-suggestions-micro-formality" type="text" placeholder="3" value=3>
                                </div>
                            </div>
                            <div class="row center-xs middle-xs">
                                <button class="ui red button col-xs-10 transfer"
                                    id="transfer-micro-formality">Transfer</button>
                            </div>
                        </div>
                    </div>
                    <!-----Micro Joint Panels --->
                    <div id="preview-container-micro-joint" class="start-xs preview-container">
                        <div id="analysis-section-micro-joint" class="side-section">
                            <p class="side-section-header">Analysis</p>
                            <div class="ui divider"></div>
                            <div id="formality-progress-micro-joint" class="ui tiny teal progress" data-value="0"
                                data-total="100">
                                <div class="bar"></div>
                                <div class="label label-text">Formality : 0 %</span></div>
                            </div>
                            <div id="emo-progress-micro-joint" class="ui tiny yellow progress" data-value="0"
                                data-total="100">
                                <div class="bar"></div>
                                <div class="label label-text">Emotion : 0 %</span></div>
                            </div>
                            <div class="row center-xs middle-xs">
                                <p style="margin: 0px;">Visualize Word Contribution to Style</p>
                                <div class="small ui buttons">
                                    <button class="ui button active viz" data-style="none">None</button>
                                    <button class="ui button viz" data-style="formality">Formality</button>
                                    <button class="ui button viz" data-style="emo">Emotion</button>
                                </div>

                            </div>
                            <div class="row around-xs middle-xs">
                                <button class="ui blue button col-xs-10 analyze"
                                    id="analyze-micro-joint">Analyze</button>
                            </div>

                        </div>

                        <div id="transfer-section-micro-joint" class="side-section">
                            <p class="side-section-header">Style Transfer Controls</p>
                            <div class="ui divider"></div>

                            <div id="sliders">
                                <p class="label-text">Formality</p>
                                <div class="ui teal slider labeled ticked" id="formality-slider-micro-joint">
                                </div>
                                <p class="label-text">Emotion</p>
                                <div class="ui yellow slider labeled ticked" id="emo-slider-micro-joint"></div>
                            </div>

                            <div class="row center-xs middle-xs">
                                <p style="margin:0px">Number of Suggestions</p>
                                <div class="ui input col-xs-3">
                                    <input id="num-suggestions-micro-joint" type="text" placeholder="3" value=3>
                                </div>
                            </div>
                            <div class="row center-xs middle-xs">
                                <button class="ui red button col-xs-10 transfer"
                                    id="transfer-micro-joint">Transfer</button>
                            </div>
                        </div>

                    </div>

                    <!-----Macro Shakespeare Panels --->
                    <div id="preview-container-macro-shakespeare" class="start-xs preview-container">
                        <div id="analysis-section-macro-shakespeare" class="side-section">
                            <p class="side-section-header">Analysis</p>
                            <div class="ui divider"></div>
                            <div id="shakespeare-progress-macro-shakespeare" class="ui tiny violet progress"
                                data-value="0" data-total="100">
                                <div class="bar"></div>
                                <div class="label label-text">Shakespeare : 0 %</span></div>
                            </div>
                            <div class="row center-xs middle-xs">
                                <p style="margin: 0px;">Visualize Word Contribution to Style</p>
                                <div class="small ui buttons">
                                    <button class="ui button active viz" data-style="none">None</button>
                                    <button class="ui button viz" data-style="shakespeare">Shakespeare</button>
                                </div>

                            </div>
                            <div class="row around-xs middle-xs">
                                <button class="ui blue button col-xs-10 analyze"
                                    id="analyze-macro-shakespeare">Analyze</button>
                            </div>

                        </div>

                        <div id="transfer-section-macro-shakespeare" class="side-section">
                            <p class="side-section-header">Style Transfer Controls</p>
                            <div class="ui divider"></div>

                            <div id="sliders">
                                <p class="label-text">Shakespeare</p>
                                <div class="ui violet slider labeled ticked" id="shakespeare-slider-macro-shakespeare">
                                </div>
                            </div>

                            <div class="row center-xs middle-xs">
                                <p style="margin:0px">Number of Suggestions</p>
                                <div class="ui input col-xs-3">
                                    <input id="num-suggestions-macro-shakespeare" type="text" placeholder="3" value=3>
                                </div>
                            </div>
                            <div class="row center-xs middle-xs">
                                <button class="ui red button col-xs-10 transfer"
                                    id="transfer-macro-shakespeare">Transfer</button>
                            </div>
                        </div>

                    </div>

                    <!-----Macro Binary Panels --->
                    <div id="preview-container-macro-binary" class="start-xs preview-container">
                        <div id="transfer-section-macro-binary" class="side-section">
                            <p class="side-section-header">Style Transfer Controls</p>
                            <div class="ui divider"></div>

                            <div id="sliders">
                                <p class="label-text">Binary</p>
                                <div class="ui basic slider labeled ticked" id="binary-slider"></div>
                            </div>

                            <div class="row center-xs middle-xs">
                                <p style="margin:0px">Number of Suggestions</p>
                                <div class="ui input col-xs-3">
                                    <input id="num-suggestions-macro-binary" type="text" placeholder="3" value=3>
                                </div>
                            </div>
                            <div class="row center-xs middle-xs">
                                <button class="ui red button col-xs-10 transfer"
                                    id="transfer-macro-binary">Transfer</button>
                            </div>


                        </div>

                    </div>


                </div>
                <div class="ui modal" id="transfer-suggestions">
                    <i class="close icon"></i>
                    <div class="header">
                        Style Transfer Suggestions
                    </div>
                    <div id="transfer-content" class="content">
                    </div>

                </div>



            </div>

        </div>
    </div>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="/js/editor.js" type="module"></script>
</body>

</html>