<!DOCTYPE html>

<head>
    <title>marvin</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/flexboxgrid.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="row ">
    </div>
    <div id="main" class="row center-xs">
        <div id="section_1" class="col-xs-8">
            <p id="app-title">marvin</p>
            <div class="row" id="editor-preview">
                <div id="editor-container" class="col-xs-6 start-xs  quill-container-body">
                    <div id="editor" class="quill-body">
                    </div>
                </div>
                <div id="preview-container" class="col-xs-6 start-xs  quill-container-body">
                    <div class="ql-toolbar ql-snow preview-head middle-xs">
                        <!-- <span>Preview ...</span> -->
                    </div>
                    <div id="preview" class="quill-body">
                    </div>
                </div>
            </div>
            <button class="button-actions" id="analyze">Analyze</button>

        </div>
    </div>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="/js/editor.js"></script>
</body>

</html>