<!DOCTYPE html>

<head>
    <title>marvin</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/flexboxgrid.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.js"></script>
</head>

<body>
    <div class="row ">
    </div>
    <div id="main" class="row center-xs">
        <div id="section_1" class="col-xs-8">
            <!-- <p id="app-title">marvin</p> -->
            <img class="col-xs-3" src="/res/marvin.jpg">
            <div class="row" id="editor-preview">
                <div id="editor-container" class="col-xs-6 start-xs  quill-container-body">
                    <div id="editor" class="quill-body">
                    </div>
                </div>
                <div id="preview-container" class="col-xs-6 start-xs">
                    <div id="preview" class="preview-body">
                        Click the Analyze button to get started ...
                    </div>
                    <div id="sliders">
                        <p>Formality : <span id="formality-value">0</span></p>
                        <div class="ui teal slider" id="formality-slider"></div>
                        <p>Humor : <span id="humor-value">0</span></p>
                        <div class="ui blue slider" id="humor-slider"></div>
                        <div class="row center-xs">
                            <div class="ui fluid search selection dropdown col-xs-6">
                                <input type="hidden" name="saliency">
                                <div class="default text">Select Text Importance to Visualize</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="formality">Formality Text
                                        Importance</div>
                                    <div class="item" data-value="humor">Humor Text
                                        Importance
                                    </div>
                                </div>
                            </div>
                            <button class="ui primary button col-xs-3" id="analyze">Analyze</button>

                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="/js/editor.js"></script>
</body>

</html>